.top-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  margin-left: 9.25rem;
  width: auto;
}

button {
  padding: 0.375rem 1rem;
  border-radius: 2rem;
  border: none;
  transition: 150ms;
  font-size: 1rem;
}

button:hover {
  opacity: 50%;
  transform: rotate(8deg);
  cursor: pointer;
}

.btn-row {
  display: flex;
  gap: 0.5rem;
}

.sort-row {
  display: flex;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  gap: 3rem;
}

.filter-row {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.filter-category {
  line-height: 225%;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}